---
const { href, url, json } = Astro.props;
import { Code } from 'astro:components';
---

<div class="mb-8">
    <span class="mr-2 font-bold text-slate-200/70">GET</span><a href={href} target="_blank" class="text-pink-300">{url}</a>
    <Code
        class="rounded-md p-2 sm:p-4 mt-2"
        code={json}
        lang="json"
        theme="one-dark-pro"
        />
</div>