@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

::selection {
    background: #a899848e;
}

@theme {
  --font-sans: InterVariable, sans-serif;

  --color-bg_h: #1d2021;
  --color-bg:   #282828;
  --color-bg_s: #32302f;
  --color-bg1:  #3c3836;
  --color-bg2:  #504945;
  --color-bg3:  #665c54;
  --color-bg4:  #7c6f64;

  --color-fg:  #fbf1c7;
  --color-fg1: #ebdbb2;
  --color-fg2: #d5c4a1;
  --color-fg3: #bdae93;
  --color-fg4: #a89984;

  --color-red:    #fb4934;
  --color-green:  #b8bb26;
  --color-yellow: #fabd2f;
  --color-blue:   #83a598;
  --color-purple: #d3869b;
  --color-aqua:   #8ec07c;
  --color-gray:   #928374;
  --color-orange: #fe8019;

  --color-red-dim:    #cc2412;
  --color-green-dim:  #98971a;
  --color-yellow-dim: #d79921;
  --color-blue-dim:   #458588;
  --color-purple-dim: #b16286;
  --color-aqua-dim:   #689d6a;
  --color-gray-dim:   #a89984;
  --color-orange-dim: #d65d0e;
}