@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;
}

::selection {
    background: #ffafdb7c;
}
