---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
	</head>
	<body class="bg-slate-50 text-slate-900 antialiased overflow-x-hidden cursor-default">
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>