---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<meta name="title" content="Deer REST API">
		<meta name="description" content="GET random deer images and facts.">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://deer.rest/">
		<meta property="og:title" content="Deer REST API">
		<meta property="og:description" content="GET random deer images and facts.">
		<meta property="og:image" content="https://deer.rest/meta-img.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://deer.rest/">
		<meta name="twitter:title" content="Deer REST API">
		<meta name="twitter:description" content="GET random deer images and facts.">
		<meta name="twitter:image" content="https://deer.rest/meta-img.jpg">

		<meta name="theme-color" content="#e9b4d3">
		<meta name="twitter:creator" content="@reckedpr">
		<meta name="twitter:site" content="@reckedpr">

		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
	</head>
	<body class="bg-white text-slate-900 antialiased overflow-x-hidden cursor-default">
		<main class="flex flex-col items-center">
			<slot />
		</main>
	</body>
</html>