---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="mt-16 sm:mt-32 md:mt-64 flex flex-col items-center">
        <h1 class="text-5xl font-semibold mb-6">you're lost</h1>
        <a href="/" class="text-pink-300 text-lg">take me back</a>
    </div>
</MainLayout>