---
import MainLayout from "../layouts/MainLayout.astro"
import Endpoint from "../comps/Endpoint.astro"

const imgJson = `{
  "img_url": "https://api.deer.rest/img/NIdOk.jpg"
}`

const factJson = `{
  "fact": "Deer communicate using body language, sounds, and scent."
}`

const imageReturn = `{ returns image directly }`

---

<MainLayout title="deer.rest" >
	<div class="mt-16 sm:mt-28 md:mt-44 mx-4">
		<section class="mb-16">
			<h1 class="text-4xl font-bold">deer.rest</h1>
			<p class="text-zinc-50/60 text-sm sm:text-base">A "RESTful" Deer API, because deer deserve rest</p>
			<div class="text-green-400 flex gap-2">
				<a href="https://github.com/reckedpr/deer/">github</a>
				<span class="text-zinc-50">•</span>
				<a href="https://status.deer.rest/">status</a>
			</div>
		</section>

		<section>
			<h2 class="text-2xl font-bold mb-4">Endpoints</h2>
			<div class="max-w-[calc(100vw-2rem)] sm:w-fit sm:ml-2 md:ml-4 text-sm sm:text-base">
				<Endpoint href="https://api.deer.rest/" url="api.deer.rest" json={imgJson} />
				<Endpoint href="https://api.deer.rest/fact" url="api.deer.rest/fact" json={factJson} />
				<Endpoint href="https://api.deer.rest/image" url="api.deer.rest/image" json={imageReturn}/>
			</div>
		</section>
	</div>
<footer class="fixed bottom-0 w-full p-2 text-center text-sm sm:text-base">
  > <span id="motd" class="text-stone-50/60"></span>
</footer>
<!-- didnt wanna do it this way but whatevr -->
<script is:inline>
	const messages = [
		"fully open source !",
		"100% clanker free",
		"written by a deer (I swear)",
		"powered by astro.js",
		"compiled with love",
		"meow ?? say it BACK !!!!",
	];
	const motd = messages[Math.floor(Math.random() * messages.length)];
	document.getElementById('motd').textContent = motd;
</script>
</MainLayout>